.custom-text-h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  color: #2B3856
}
.custom-text-h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: #2B3856
}

.custom-text-h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color: #2B3856
}

.custom-font {
  font-family: 'Varela Round', sans-serif;
  text-align: justify;
}
